<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>表单的一部分学习</title>
</head>
<body>
    <input list="browsers">
    <datalist id="browsers">
      <option value="Internet Explorer">
      <option value="Firefox">
      <option value="Chrome">
      <option value="Opera">
      <option value="Safari">
    </datalist>
<br/>
    <form action="demo_keygen.asp" method="get">
      用户名: <input type="text" name="usr_name">
      加密: <keygen name="security">
      <input type="submit">
    </form>
<br/>
<form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
  <input type="range" id="a" value="50">100
  +<input type="number" id="b" value="50">
  =<output name="x" for="a b"></output>
  </form>
<br/>
<select name="伯约" id="">
  <option value="adad">阿斯顿撒</option>
  <option value="12121">啊大大</option>
  <option value="adad">却完完全全</option>
  <option value="12211212">复合肥</option>
</select>
  <script>

  </script>
</body>
</html>